@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

// fonts
$family-sans-serif: 'Josefin Sans', sans-serif;

// colors
$dark-purple: #7f4782;
$light-purple: #aa5c9f;
$pink: #e2598b;
$yellow: #fdd043;

$light-yellow: #ffeaaa;

// theme
$primary: $yellow;
$info: $pink;
$dark: $dark-purple;

$background: $light-purple;
$body-background-color: $background;
$footer-background-color: $background;
$box-background-color: $pink;

$body-font-size: 1.5em;
$text: $dark-purple;
$title-color: $yellow;
$subtitle-color: $dark-purple;
$input-background-color: $light-yellow;
$input-border-color: $yellow;
$input-hover-border-color: $yellow;
$input-color: $dark-purple;
$button-text-color: $dark-purple;

@import '../../node_modules/bulma/bulma.sass';

input {
    @include placeholder {
        opacity: 1;
    }
}

.chat-messages {
    height: 20rem;
    overflow-y: scroll;
    .sender {
        font-weight: bold;
        padding-right: 1.5rem;
    }
}